{% extends 'vertical.html' %}

{% load static i18n %}

{% block title %}Grid Js Tables{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/vendor/gridjs/theme/mermaid.min.css' %}">
<style>
    /* Custom spacing for Station Table columns */
    .gridjs-table {
        table-layout: fixed !important;
    }

    /* Sl no: 240px */
    .gridjs-th:nth-child(1),
    .gridjs-td:nth-child(1) {
        width: 240px !important;
    }

    /* Train Name: auto (flexible) */
    .gridjs-th:nth-child(2),
    .gridjs-td:nth-child(2) {
        width: auto !important;
    }

    /* Train Status: 280px */
    .gridjs-th:nth-child(3),
    .gridjs-td:nth-child(3) {
        width: 280px !important;
    }
</style>
{% endblock extra_css %}

{% block page_title %}
{% include 'partials/page-title.html' with title="Ground Staff" subtitle="Tables" %}
{% endblock page_title %}

{% block page_content %}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div
                class="card-header border-bottom border-dashed d-flex justify-content-between rounded align-items-center">
                <h4 class="card-title mb-0">Station Name</h4>
                <div id="current-date" class="align-items-center mb-0 bg-success px-2 p-1 text-white">
                    <span id="date-value" class="fw-semibold"></span>
                </div>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="table-fixed-header"></div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>

<!-- end row -->

{% endblock page_content %}

{% block extra_javascript %}
<script src="{% static '/vendor/gridjs/gridjs.umd.js' %}"></script>
<script src="{% static '/js/components/train-grid.js' %}"></script>

<script>
    // date Format: Friday, July 04, 2025
    function formatDate(date) {
        const options = {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: '2-digit',
        };
        return date.toLocaleString('en-US', options);
    }

    // Set current date
    const dateValueElement = document.getElementById('date-value');
    const now = new Date();
    dateValueElement.textContent = formatDate(now);
</script>

{% endblock extra_javascript %}