{% load static i18n %}
<!-- Sidenav Menu Start -->
<div class="sidenav-menu">

    <!-- Brand Logo -->
    <a href="{% url 'pages:dashboard' %}" class="logo">
        <span class="logo-light">
            <span class="logo-lg">
                <img src="{% static 'images/IITG_logo_white.png' %}" alt="IITG logo"
                    style="width: 32px; height: 32px; margin-right: 10px;">
                <span class="text-white fw-bold">IITG</span>
            </span>
            <span class="logo-sm">
                <img src="{% static 'images/IITG_logo_white.png' %}" alt="IITG small logo"
                    style="width: 28px; height: 28px;">
            </span>
        </span>

        <span class="logo-dark">
            <span class="logo-lg">
                <img src="{% static 'images/IITG_logo_dark.png' %}" alt="IITG logo"
                    style="width: 32px; height: 32px; margin-right: 10px;">
                <span class="text-white fw-bold">IITG</span>
            </span>
            <span class="logo-sm">
                <img src="{% static 'images/IITG_logo_dark.png' %}" alt="IITG small logo"
                    style="width: 28px; height: 28px;">
            </span>
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <button class="button-sm-hover">
        <i class="ti ti-circle align-middle"></i>
    </button>

    <!-- Full Sidebar Menu Close Button -->
    <button class="button-close-fullsidebar">
        <i class="ti ti-x align-middle"></i>
    </button>

    <div data-simplebar>

        <!--- Sidenav Menu -->
        <ul class="side-nav">
            <li class="side-nav-title">Navigation</li>

            <li class="side-nav-item">
                <a href="{% url 'pages:dynamic_pages' template_name='ground-staff' %}" class="side-nav-link">
                    <span class="menu-icon"><i class="ti ti-home"></i></span>
                    <span class="menu-text"> Ground staff </span>
                </a>
            </li>

        </ul>

        <div class="clearfix"></div>
    </div>
</div>
<!-- Sidenav Menu End -->